
#kpu, #tugas, #panitia { 
    width: 80%;
    max-width: 900px;
    margin: 5rem auto;
    padding: 5rem 0;
}

#kpu h1, h3, #tugas h1, h3, #panitia h1, h3 { 
    text-align: center;
    font-family: 'Gotham-bold', sans-serif;
    font-size: 40px;
    color: var(--orange1);
}

#kpu h3, #tugas h3, #panitia h3 { 
    font-size: 30px;
    color: #fff;
    border-bottom: solid #fff ;
    padding-bottom: 3rem;
}
#kpu p, #tugas ol { 
    margin-top: 3rem;
    font-size: 18px;
    text-align: justify;
}

.carousel-panitia { 
    width: 100%;
}

.carousel-item img { 
    width: 100%;
}

@media screen and (max-width: 768px) {
    body { 
        background-size: contain;
    }

    #kpu, #tugas, #panitia { 
        margin-bottom: 1rem;
        width: 100%;
    }
    
    #kpu h1, #kpu h3, #tugas h1, #kpu h3, #panitia h1 { 
        font-size: 20px;
    }
    
    #kpu h3, #tugas h3, #panitia h3 { 
        font-size: 16px;
        padding-bottom: 1.5rem;
    }
    
    #kpu p, #tugas ol { 
        margin-top: 1.5rem;
        font-size: 12px;
    }

    .inner-border, .outer-border { 
        border-left: none;
        border-right: none;
        border-radius: 0;
        padding: 10px 0;
        backdrop-filter: blur(30px);
    }

    .inner-border p, ol {
        margin: 1rem; 
    }
    
}