.outer-border { 
    width: 90%;
    margin: 2.5rem auto;
}

#voting-page { 
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    padding-bottom: 5rem;
}

.heading { 
    font-family: 'Gotham-bold', sans-serif;
}

.h-top { 
    font-size: 48px;
    color: var(--orange1);
}

.h-bottom { 
    font-size: 20px;
    margin-bottom: 2rem;
}

.foto-calon-container { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
}

.foto-calon img { 
    width: 250px;
    padding: 0;
    cursor: pointer;
}

.modal { 
    width: 80vw;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 500;
}


.modal-content { 
    background-color: rgba(90, 24, 154, 0.5);
    border: solid var(--orange1);
    backdrop-filter: blur(50px);
    font-size: 24px;
}

.modal-footer .btn { 
    margin-right: 1rem;
    background-color: var(--orange1);
    color: #fff;
}

@media screen and (max-width: 768px) {
    .h-top { 
        font-size: 24px;
    }

    .h-bottom { 
        font-size: 16px;
    }

    .foto-calon-container { 
        flex-direction: column;
        align-items: center;
    }

    .modal-body { 
        font-size: 16px;
    }
}
