@media (width < 600px) {

    body { 
        font-size: 14px;
    }

    .heading { 
        font-size: 36px;
    }

    #header-page { 
        height: auto;
    }

    .nav-logo a img { 
        width: 100px;
    }

    .nav-link { 
        display: none;
    }

    #header-page { 
        flex-wrap: wrap-reverse;
        gap: 0.5rem;
        width: 90%;
        height: auto;
        padding-top: 5rem;
    }

    .logo-container { 
        height: auto;
    }

    .header-text { 
        text-align: center;
        margin: 1rem;
    }

    
    .header-text h1 span { 
        font-size: 45px;
    }

    .header-text p { 
        font-size: 16px;
        width: 90%;
        margin: 3rem auto;
    }

    .header-text p span { 
        font-size: 20px;
    }

    .header-button-container { 
        width: fit-content;
        margin: 3rem auto;
    }

    .button { 
        padding: 6px 12px;
        font-size: 14px;
    }

    .header-logo { 
        width: 150px;
        height: 150px;
    }

    .header-logo img { 
        width: 120px;
    }

    #calon-page { 
        padding: 2rem 0;
        width: 90%;
        height: auto;
        margin: 2rem auto;
        gap: 2rem;
    }

    #calon-page h1 { 
        margin-bottom: 3rem;
    }

    .foto-calon-container { 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem auto;
        gap: 3rem;
    }

    #about-page { 
        margin: 2rem auto;
        padding: 2rem 0;
        height: auto;
        width: 90%;
        gap: 2.5rem;
    }

    .about-text { 
        padding: 2rem 1rem;
    }

    .about-text p { 
        font-size: 16px;
    }

    #tata-cara-page { 
        width: 90%;
        height: auto;
        margin: 2rem auto;
        padding-top: 1rem;
        gap: 2rem;
    }

    .video-container { 
        width: 100%;
        height: 300px;
    }

    #footer-page {
        height: 100px;
        padding-bottom: 10rem;
    }
}