/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  min-height: 2000px;
  font-family: 'Poppins', sans-serif;
  background: rgb(157,132,27);
  background: linear-gradient(170deg, rgb(78,55,22) 0%, rgb(23,16,29) 30%, rgb(23,16,29) 70%, rgb(48,35,58) 100%);
}

.jumbotron {
  padding: 2rem 1rem;
  background-color: #9d4edd00;
  color: #ffff;
}

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
}

.navbar{
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
  background-color: #ffffff;
}

.btn{
  background-color: #9D4EDD;
  color: #ffff;
  border-radius:20px;
  align-items: center;
  justify-content: center;
  width: auto;
}

.navbar-nav a:hover{
  background-color: #9D4EDD;
  border-radius: 2rem;
}

#about{
  color: #ffff;
}

#projects{
  background-color: #9e4edf00;
  color: #ffff;
}

.logo-kmteti{
  margin-right: 2rem;
}

.logo-tetronica{
  margin-left: 2rem;
}