@import "https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css";
@import "https://unpkg.com/aos@2.3.1/dist/aos.css";

:root {
  --orange1: #ff7900;
  --purple1: #3c096c;
  --purple2: #240046;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  /* left: 0; */
}

body {
  font-size: 2rem;
  color: #fff;
  background: url(/new-background.svg);
  background-size: cover;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.heading {
  font-size: 54px;
}
/* Scroll Bar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--purple1);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--orange1);
  border-radius: 20px;
  margin: 1px;
}
