/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
@import "https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css";

body {
    min-height: auto;
    /* font-family: 'Poppins', sans-serif; */
    /* background: rgb(157,132,27); */
    /* background: linear-gradient(170deg, rgb(78,55,22) 0%, rgb(23,16,29) 30%, rgb(23,16,29) 70%, rgb(48,35,58) 100%); */
}

/* FAIQ IMPLEMENTATION */
/* mobile.css */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .heading {
    font-size: 36px;
  }

  .nav-container { 
    justify-content: center;
  }

  .navbar-brand { 
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
  }

  .menu-icon { 
    order: -1;
    margin-left: -3rem;
  }

  #header-page {
    height: auto;
    margin-top: 5rem;
  }

  .sidebar { 
    background-color: rgba(60, 9, 108, 0.1);
    backdrop-filter: blur(15px);
  }


  #menu-icon:hover {
    color: var(--orange1);
    border-color: var(--orange1);
  }

  #header-page {
    flex-wrap: wrap-reverse;
    gap: 0.5rem;
    width: 90%;
    height: auto;
    padding-top: 5rem;
  }

  .logo-container {
    height: auto;
  }

  .header-text {
    text-align: center;
    margin: 1rem;
  }

  .header-text h1 span {
    font-size: 45px;
  }

  .header-text p {
    font-size: 16px;
    width: 90%;
    margin: 3rem auto;
  }

  .header-text p span {
    font-size: 20px;
  }

  .header-button-container {
    width: fit-content;
    margin: 3rem auto;
  }

  .button {
    padding: 6px 12px;
    font-size: 14px;
  }
  
  .header-logo img {
    width: 120px;
  }

  #calon-page {
    padding: 8rem 0;
    width: 90%;
    height: auto;
    margin: 5rem auto;
    gap: 2rem;
  }

  #calon-page h1 {
    margin-bottom: 3rem;
  }

  .foto-calon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem auto;
    gap: 3rem;
  }

  #about-page {
    margin: 2rem auto;
    padding: 8rem 0;
    height: auto;
    width: 90%;
    gap: 2.5rem;
  }

  .about-text {
    padding: 2rem 1rem;
  }

  .about-text p {
    font-size: 16px;
  }

  #tata-cara-page {
    width: 90%;
    height: auto;
    margin: 25rem auto;
    padding-top: 8rem;
    gap: 2rem;
  }

  .video-container {
    width: 100%;
    height: 300px;
  }

  #timeline-page h1 { 
    margin-top: 5rem;
  }

  #footer-page {
    height: 100px;
    padding-bottom: 10rem;
  }

}

/* style.css */
:root {
  --orange1: #ff7900;
  --purple1: #3c096c;
  --purple2: #7b2cbf;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  /* font-family: "Poppins"; */
  /* font-size: 2rem; */
  color: #fff;
  background: linear-gradient(90deg, #240046 0%, rgba(60, 9, 108, 0.8) 100%);
}

.navwrapper {
  margin-top: 85px;
}
.navbar-brand { 
  width: fit-content;
  padding: auto;
}

.navbar-brand img { 
  width: 200px;
}

/* .nav-link {
  color:  #fff;
  font-family: "Poppins";
  font-size: 18px;
} */

.user-btn { 
  background-color: var(--orange1);
  border: solid var(--orange1) 2px;
  margin-left: 2rem;
  padding: 8px;
  border-radius: 12px;
}



.button {
  border: solid transparent 2px;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: var(--orange1);
  border: solid var(--orange1) 2px;
  border-radius: 10px;
  font-size: 16px;
}

.button:hover {
  background-color: transparent;
  color: var(--orange1);
  border: solid var(--orange1) 2px;
}

#header-page {
  height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-text {
  margin: 2rem 5rem;
  color: #fff;
}

.header-text p {
  margin-top: 2rem;
  font-size: 23px;
}

.header-text p span { 
  color: var(--orange1);
  font-size: 30px;
  font-weight: 600;
}

.header-text h1 span {
  font-size: 75px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--orange1);
}

.logo-container {
  height: 500px;
}

.header-logo {
  background: linear-gradient(
    180deg,
    #f89f0e 0%,
    rgba(236, 178, 83, 0.58) 31.27%,
    rgba(255, 158, 0, 0) 100%
  );
  margin: 2rem;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  justify-self: center;
  position: relative;
}

.header-logo img {
  width: 300px;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translateX(-50%);
}

.header-button-container {
  margin-top: 3rem;
  display: flex;
  justify-content: left;
  gap: 2rem;
}

#vote-button,
#daftar-button {
  width: 100px;
}

#daftar-button {
  background-color: transparent;
  color: var(--orange1);
}

#daftar-button:hover {
  background-color: var(--orange1);
  color: #fff;
}

#calon-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100vh;
  margin: 5rem auto;
  padding-top: 5rem;
}

.foto-calon-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
}

.foto-calon {
  background-color: turquoise;
  border-radius: 12px;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

#calon-page button {
  width: 50%;
}

#about-page {
  width: 80%;
  height: 100vh;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.about-text {
  border: solid var(--orange1);
  border-radius: 12px;
  padding: 3rem 4rem;
  color:  #fff;
}

.about-text p {
  font-size: 18px;
  text-align: justify;
}

#about-page button {
  width: 50%;
}

#tata-cara-page {
  width: 80%;
  height: 100vh;
  margin: 5rem auto;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.video-container {
  background-color: turquoise;
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

#footer-page {
  background-color: #000;
  width: 100%;
  margin-top: 300px;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#footer-page h4 {
  font-family: var(--gotham-font);
  font-size: 16px;
  margin-top: 1rem;
  color : #fff;
}

#footer-page a i {
  color: #fff;
  font-size: 30px;
  margin: 1rem;
}

#footer-page p {
  margin-top: 1rem;
  font-size: 10px;
  color : #fff;
}

/* timeline.css */
#timeline-page {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timeline-page h1 {
  order: 1;
  height: fit-content;
}

.timeline-reverse {
  order: 2;
}

/* Timeline Container */
.timeline {
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.cards {
  border: none;
  position: relative;
  width: 360px;
  background-color: transparent;
}

/* setting padding based on even or odd */
.cards:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.cards:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.cards::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid var(--orange1);
}

/* Setting the border of top, bottom, left */
.cards:nth-child(odd)::before {
  left: 0px;
  top: -5px;
  bottom: -5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.cards:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first cards */
.cards:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last cards  and it's odd */
.cards:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last cards  and it's even */
.cards:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: transparent;
  border-radius: 24px;
  padding: 10px;
}

.info p {
  color: #fff;
  font-size: 16px;
}

/* Title of the cards */


/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 999px;
  border: 3px solid var(--orange1);
}

/* text right if the cards is even  */
.cards:nth-child(even) > .info {
  text-align: right;
}

/* setting dot to the left if the cards is odd */
.cards:nth-child(odd) > .info > .title::before {
  left: -48px;
}

/* setting dot to the right if the cards is odd */
.cards:nth-child(even) > .info > .title::before {
  right: -48px;
}

@media (width < 600px) {
  #timeline-page h1 {
    order: -1;
    margin-bottom: 3rem;
  }

  #timeline-page {
    padding-top: 3rem;
    flex-direction: column;
  }

  .timeline {
    margin: 0;
  }

  .timeline-reverse {
    margin-top: -100px;
  }

  .cards:last-child:nth-child(odd)::before {
    left: 0px;
    top: -5px;
    bottom: -5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
}

/* FOOTER */

.round-btn {display: inline;height: 40px; width: 40px; background:#fff;border-radius: 50%;float: left;margin: 15px 8px;box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);border: 1px solid;/*border: 1px solid #622657;*/}
.round-btn a {display: block !important;padding: 7px 12px;font-size: 18px;border-radius: 50%;}
.round-btn .icon {padding: 3px;}
.round-btn .icon img{height: 24px; width: 32px;margin-top: 6px;}
.btn-facebook a {color: #3b5998;padding: 8px 13px;}
.btn-linkedin a {color: #007bb6;}
.btn-twitter a{color: #1c9deb;}
.btn-instagram a{color: #dd3f5c;}
.btn-whatsapp a{color: #155E54;}
.btn-envelop a{color: #D6403A;font-size: 15px; padding: 9px 12px;}
.standard_header .standard_social_links {margin-left: 1rem;}

  /*
  =========================================================================================
                                    footer
  =========================================================================================
  */
  
  .footer-wrap {
    padding-top: 43px;
    background-size: cover;
}

.footer-wrap h3 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: #b3b3b3;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}


.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #ccc;
}

.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #b3b3b3;
}

.address {
    
    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
}

.info a {
 
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-phone:before {
    content: "\f095";
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-fax:before {
    content: "\f1ac";
}

.copyright {
    border-top: 1px solid #111;
    font-size: 14px;
    color: #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #111;
}
footer .second_class{
    padding-bottom: 25px;
}
footer .first_class {
    padding-bottom: 21px;
}
footer .first_class p, footer .first_class h3{
    margin: 0 0;
    
}
footer{
    background: #000;
}

footer .newsletter input[type="text"] {
    width: 100%;
    background: #fff;
    color: #333;
    border: 1px solid #222;
    padding: 14px 20px;
    border-radius: 50px;
    margin-top: 12px;
}

.newsletter .newsletter_submit_btn {
    background: #b90d0d;
    position: absolute;
    right: 30px;
    border: 0;
    top: 26px;
    font-size: 17px;
    color: #333;
}


footer .second_class_bdr{
    padding-top: 25px;
    border-top:1px solid #222;
}

footer .btn-facebook a {
    padding: 6px 14px !important;
}

footer .btn-envelop a {
    color: #D6403A;
    font-size: 15px;
    padding: 12px 12px;
}

footer .round-btn a {
    padding: 6px 12px;
}

footer .round-btn {
    box-shadow: 2px 2px 5px 0px #222 !important;}

footer .round-btn {
    margin: 10px 2px;}
	
footer dl, ol, ul {
    padding-left: 5px;
}
	footer li{
		list-style: none;
	}

@media(max-width:768px){
    .footer-wrap h3 {
    margin-top: 27px;}
    
    footer .round-btn {
    margin: 15px 4px;}
}
@media(max-width:320px){
.copyright {
    font-size: 13px;}
}	

/* TABLE */

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}