.tatacara-margin {
    margin-top: 5rem;
}

.tatacara-wrapper {
    width: 100vh;
    padding: 20px;
    color: white;
    margin: auto;
    width: 75%;
}

.panduan-wrapper {
    margin-top: 5rem;
}

.download-pdf { 
    color: #fff;
    height: 100vh;
}